@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminTablePage.cshtml";
}
<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="~/Admins/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
</div>

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="Index" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contact</a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->


        


        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/Admins/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Infrastructure</span>
    </a>
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Admins/dist/img/varshaMAM.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Varsha Patel</a>
            </div>
        </div>




        <!-- Sidebar -->
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->






                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Tables
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="./Users" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Users</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./Complaints" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Complains</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/tables/jsgrid.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>jsGrid</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">EXAMPLES</li>



                <li class="nav-header">MISCELLANEOUS</li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Complaints</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with default features</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Complaint ID</th>
                                        <th>Description</th>
                                        <th>Complaint Type</th>
                                        <th>Image</th>
                                        <th>Status</th>
                                        <th>Users</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @model List<Infrastructure_and_Maintaince_and_monitoring_system.Models.Complaint>
                                    @foreach (var complaint in Model)
                                    {
                                    <tr>
                                        <td>@complaint.ComplaintID</td>
                                        <td>@complaint.Description</td>
                                        <td>@complaint.ComplaintType</td>
                                      
                                        <td><a href="~/Admins/dist/img/2.png" target="_blank">Click to View</a></td>
                                        <td>@complaint.Status</td>
                                        <td>@complaint.User</td>
                                        <td>Edit/Delete Buttons</td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Complaint ID</th>
                                        <th>Description</th>
                                        <th>Complaint Type</th>
                                        <th>Image</th>
                                        <th>Status</th>
                                        <th>Users</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- /.control-sidebar -->
<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/Admins/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/Admins/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & ~/Admins/plugins -->
<script src="~/Admins/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Admins/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Admins/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Admins/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Admins/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Admins/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Admins/plugins/jszip/jszip.min.js"></script>
<script src="~/Admins/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Admins/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Admins/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Admins/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Admins/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="~/Admins/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/Admins/dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
