@model Infrastructure_and_Maintaince_and_monitoring_system.Models.AssetTransferModel
@{
    ViewBag.Title = "Update Transfer";
}

<h2>Update Transfer</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.ATid)

<div class="form-group">
    @Html.LabelFor(model => model.From_RoomID)
    @Html.DropDownListFor(model => model.From_RoomID, (IEnumerable<SelectListItem>)ViewBag.RoomList, "Select From Room", new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.To_RoomID)
    @Html.DropDownListFor(model => model.To_RoomID, (IEnumerable<SelectListItem>)ViewBag.RoomList, "Select To Room", new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AssetID)
    @Html.DropDownListFor(model => model.AssetID, (IEnumerable<SelectListItem>)ViewBag.AssetList, "Select Asset", new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Quantity)
    @Html.EditorFor(model => model.Quantity, new { @class = "form-control" })
</div>

<button type="submit" class="btn btn-primary">Save</button>
}

`   