@model Infrastructure_and_Maintaince_and_monitoring_system.Models.RoomAssetsModel

@{
    ViewBag.Title = "Update Room Asset";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Survey</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Tables</li>
                        <li class="breadcrumb-item active">Survey</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">


                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(model => model.RAid)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoomID)
                                    @Html.DropDownListFor(model => model.RoomID, (IEnumerable<SelectListItem>)ViewBag.RoomList, "Select Room", new { @class = "form-control" ,  required = "required"} )
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.AssetID)
                                    @Html.DropDownListFor(model => model.AssetID, (IEnumerable<SelectListItem>)ViewBag.AssetList, "Select Asset", new { @class = "form-control", required = "required" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Working)
                                    @Html.EditorFor(model => model.Working, new { htmlAttributes = new { @class = "form-control" , required = "required" } })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.NonWorking)
                                    @Html.EditorFor(model => model.NonWorking, new { htmlAttributes = new { @class = "form-control" , required = "required"} })
                                </div>

                                <button type="submit" class="btn btn-primary">Update</button>
                            }
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

